/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  height: 100%;
}

/* Widgets */
section {
  
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  border: 4px solid green;
  border-radius: 10px;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  border: 4px solid green;
  border-radius: 10px;
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  border: 4px solid green;
  border-radius: 10px;
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
body{
  background-color: #000000;
  color: #ffffff;
}
